// @app-primary-color: #ff6000;
// @app-primary-color: #00b92f;
@app-primary-color: #408c0b;
@app-secondary-color: #e19635;

@primary-color: @app-primary-color;
@info-color: @blue-6;
@success-color: @green-6;
@processing-color: @blue-6;
@error-color: @red-5;
@highlight-color: #ff5630;
@warning-color: #ffab00;
@normal-color: #d9d9d9;
// @app-secondary-color: #0d1a38;
// @app-font-family: 'IBM Plex Sans';
// @app-font-family: 'Barlow';
@app-font-family: 'Goldman Sans';
// @body-background: #fff0dc;
@body-background: #f1f3ed;

// Border color
@border-color-base: #9eb6b5; // base border outline a component
@border-color-split: #9eb6b5;
@border-radius-base: 2px;
@border-radius-sm: @border-radius-base;

// Outline
@outline-blur-size: 0;
@outline-width: 0;
@outline-color: @app-secondary-color;
@outline-fade: 20%;

// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;

// Button
@btn-font-weight: 500;
@btn-border-radius-base: 4px;
@btn-border-radius-sm: 3px;

// Input
// ---
@input-border-color: @border-color-base;
@disabled-color: #666;

@table-header-bg: #f8f9fa;
@table-header-color: #495057;

@divider-color: @border-color-base;

@media(max-width: 576px) {
  .ant-picker-panels {
    flex-direction: column;
  }
}

.ant-form-item-label > label {
  font-weight: 600;
}
